<div class="example-container">
    <div style="float: left;">
    <mat-form-field appearance="fill" class="short">
      <mat-label>Name</mat-label>
      <input matInput name="username"  type="text" placeholder="User name"  [(ngModel)]="patient.name" >
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="short">
        <mat-label>Age</mat-label>
        <input matInput [(ngModel)]="patient.age">
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="patient.gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <mat-select [(ngModel)]="patient.country">
          <mat-option value="India">India</mat-option>
          <mat-option value="United States">United States</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="patient.state">
          <mat-option value="Andhra Pradesh">Andhra Pradesh</mat-option>
          <mat-option value="Telangana">Telangana</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="patient.city">
      </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Symptoms</mat-label>

      <textarea matInput [(ngModel)]="patient.symptoms"></textarea>
    </mat-form-field>
    <br/>
    <button mat-stroked-button (click)="clearAll()">Clear All</button>
    <button mat-raised-button color="primary" (click)="callTreatment()" style="margin-left:30px;">Advise Treatment</button>
    </div>
    <div style="float: right;padding-left:20px;">
        <mat-card *ngIf="treatment!=''">
            <h2>Treatment advised</h2>
            <h3>PatientName: {{patient.name}}</h3>
            <h3>{{treatment}}</h3>
        </mat-card>
    </div>
</div>
